In [1360]:
# Housing price prediction

In [1361]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#filter warnings
import warnings
warnings.filterwarnings('ignore')

In [1362]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [1363]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [1364]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [1365]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [1366]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [1367]:
# sns.pairplot(data=df)

In [1368]:
# fig = plt.figure(figsize=(15,30))
# plt.subplot(4,2,1)
# sns.boxplot(data=df, x='mainroad', y='price')

# plt.subplot(4,2,2)
# sns.boxplot(data=df, x='guestroom', y='price')

# plt.subplot(4,2,3)
# sns.boxplot(data=df, x='basement', y='price')

# plt.subplot(4,2,4)
# sns.boxplot(data=df, x='hotwaterheating', y='price')

# plt.subplot(4,2,5)
# sns.boxplot(data=df, x= 'airconditioning', y='price')

# plt.subplot(4,2,6)
# sns.boxplot(data=df, x='furnishingstatus', y='price')

# plt.subplot(4,2,7)
# sns.boxplot(data=df, x='prefarea', y='price')

# plt.subplot(4,2,8)
# sns.boxplot(data=df, x='furnishingstatus', y='price')

In [1369]:
binary_columns=['mainroad', 'guestroom', 'basement','hotwaterheating','airconditioning','prefarea']
df[binary_columns] = df[binary_columns].apply(lambda x : x.map({'yes':1,'no':0}))
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [1370]:
df['furnishingstatus'].value_counts()

furnishingstatus
semi-furnished    227
unfurnished       178
furnished         140
Name: count, dtype: int64

In [1371]:
dummy = pd.get_dummies(df['furnishingstatus'], drop_first=True)
dummy.head()

   semi-furnished  unfurnished
0           False        False
1           False        False
2            True        False
3           False        False
4           False        False

In [1372]:
df = pd.concat([df,dummy], axis=1)

In [1373]:
df.drop(columns='furnishingstatus', inplace=True, axis=1)

In [1374]:
df = df.astype(int)
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0,0

In [1375]:
df['bathroom_per_bed'] = df['bathrooms']/df['bedrooms']

In [1376]:
df = df.drop(columns=['bedrooms','bathrooms'])

In [1377]:
from sklearn.preprocessing import MinMaxScaler
rescale_col = ['area', 'bathroom_per_bed', 'stories', 'parking']
scaler = MinMaxScaler()

df[rescale_col] = scaler.fit_transform(df[rescale_col])
df.shape

(545, 13)

In [1378]:
scale_price = MinMaxScaler()
price = np.array(df['price']).reshape(-1,1)
price= scale_price.fit_transform(price)
price = pd.DataFrame(price,columns=['cost'])
df = pd.concat([df,price],axis=1)

df.shape

(545, 14)

In [1379]:
df = df.drop(columns=['price'], axis=1)
df.shape

(545, 13)

In [1380]:
df.head()

,area,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,bathroom_per_bed,cost
0,0.396564,0.666667,1,0,0,0,1,0.666667,1,0,0,0.4,1.000000
1,0.502405,1.000000,1,0,0,0,1,1.000000,0,0,0,1.0,0.909091
2,0.571134,0.333333,1,0,1,0,0,0.666667,1,1,0,0.6,0.909091
3,0.402062,0.333333,1,0,1,0,1,1.000000,1,0,0,0.4,0.906061
4,0.396564,0.333333,1,1,1,0,1,0.666667,0,0,0,0.1,0.836364

In [1381]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, train_size=0.8, test_size=0.2, random_state=True)

In [1382]:
# rescalling

In [1383]:
df_train.head()

,area,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,bathroom_per_bed,cost
272,0.166667,0.000000,1,1,1,0,0,0.666667,0,1,0,0.2,0.224242
40,0.336770,0.333333,1,0,1,0,1,0.000000,1,0,0,0.2,0.530303
326,0.168385,0.000000,0,0,1,0,0,0.000000,0,0,1,0.1,0.193939
441,0.186942,0.333333,1,0,0,0,0,0.000000,0,0,1,0.2,0.127273
511,0.105155,0.000000,0,0,0,0,0,0.000000,0,0,1,0.2,0.066667

In [1384]:
df

,area,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,bathroom_per_bed,cost
0,0.396564,0.666667,1,0,0,0,1,0.666667,1,0,0,0.4,1.000000
1,0.502405,1.000000,1,0,0,0,1,1.000000,0,0,0,1.0,0.909091
2,0.571134,0.333333,1,0,1,0,0,0.666667,1,1,0,0.6,0.909091
3,0.402062,0.333333,1,0,1,0,1,1.000000,1,0,0,0.4,0.906061
4,0.396564,0.333333,1,1,1,0,1,0.666667,0,0,0,0.1,0.836364
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.092784,0.000000,1,0,1,0,0,0.666667,0,0,1,0.4,0.006061
541,0.051546,0.000000,0,0,0,0,0,0.000000,0,1,0,0.2,0.001485
542,0.135395,0.000000,1,0,0,0,0,0.000000,0,0,1,0.4,0.000000
543,0.086598,0.000000,0,0,0,0,0,0.000000,0,0,0,0.2,0.000000
544,0.151203,0.333333,1,0,0,0,0,0.000000,0,0,1,0.2,0.000000

In [1385]:
y_train = df_train.pop('cost')
X_train = df_train
X_train

,area,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,bathroom_per_bed
272,0.166667,0.000000,1,1,1,0,0,0.666667,0,1,0,0.2
40,0.336770,0.333333,1,0,1,0,1,0.000000,1,0,0,0.2
326,0.168385,0.000000,0,0,1,0,0,0.000000,0,0,1,0.1
441,0.186942,0.333333,1,0,0,0,0,0.000000,0,0,1,0.2
511,0.105155,0.000000,0,0,0,0,0,0.000000,0,0,1,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...
129,0.674227,0.666667,1,0,0,0,0,0.666667,1,1,0,0.2
144,0.209622,0.333333,1,1,1,0,1,0.333333,0,0,0,0.1
72,0.231615,1.000000,1,0,0,0,1,0.000000,1,0,1,0.2
235,0.276976,0.333333,1,1,0,0,1,0.333333,0,1,0,0.2
37,0.505155,1.000000,1,0,0,0,1,0.666667,0,0,0,0.4

In [1386]:
import statsmodels.api as sm
X_train_lm = sm.add_constant(X_train)
# X_train_lm = X_train_lm.astype(int)

lr_1 = sm.OLS(y_train, X_train_lm).fit()

lr_1.params

const              -0.002158
area                0.334998
stories             0.189324
mainroad            0.022622
guestroom           0.027070
basement            0.056252
hotwaterheating     0.094527
airconditioning     0.060991
parking             0.087411
prefarea            0.050597
semi-furnished     -0.004805
unfurnished        -0.037899
bathroom_per_bed    0.142631
dtype: float64

In [1387]:
print(lr_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   cost   R-squared:                       0.654
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     66.71
Date:                Tue, 26 Dec 2023   Prob (F-statistic):           1.28e-89
Time:                        20:25:41   Log-Likelihood:                 418.34
No. Observations:                 436   AIC:                            -810.7
Df Residuals:                     423   BIC:                            -757.7
Df Model:                          12
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               -0.0022      0.018     -0.118      0.906      -0.038       0.034
area                 0.3350      0.034      9.840      0.000       0.268       0.402
stories              0.1893      0.017     10.926      0.000       0.155       0.223
mainroad             0.0226      0.014      1.656      0.099      -0.004       0.049
guestroom            0.0271      0.013      2.053      0.041       0.001       0.053
basement             0.0563      0.011      5.195      0.000       0.035       0.078
hotwaterheating      0.0945      0.022      4.300      0.000       0.051       0.138
airconditioning      0.0610      0.011      5.667      0.000       0.040       0.082
parking              0.0874      0.017      5.085      0.000       0.054       0.121
prefarea             0.0506      0.011      4.427      0.000       0.028       0.073
semi-furnished      -0.0048      0.011     -0.422      0.673      -0.027       0.018
unfurnished         -0.0379      0.012     -3.042      0.002      -0.062      -0.013
bathroom_per_bed     0.1426      0.024      5.974      0.000       0.096       0.190
==============================================================================
Omnibus:                       64.398   Durbin-Watson:                   2.105
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              133.627
Skew:                           0.805   Prob(JB):                     9.62e-30
Kurtosis:                       5.182   Cond. No.                         12.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [1388]:
# Check for the VIF values of the feature variables. 
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif['Features'] = X_train.columns
vif['VIF'] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

            Features   VIF
2           mainroad  5.84
0               area  4.40
11  bathroom_per_bed  3.48
1            stories  2.14
9     semi-furnished  2.13
4           basement  1.96
7            parking  1.95
6    airconditioning  1.71
10       unfurnished  1.69
8           prefarea  1.56
3          guestroom  1.48
5    hotwaterheating  1.09

In [1389]:
columns_to_drop =['mainroad']
X_train = X_train.drop(columns='mainroad')

In [1390]:
import statsmodels.api as sm
X_train_lm = sm.add_constant(X_train)
# X_train_lm = X_train_lm.astype(int)

lr_2 = sm.OLS(y_train, X_train_lm).fit()

lr_2.params

const               0.013041
area                0.345643
stories             0.192338
guestroom           0.028172
basement            0.056202
hotwaterheating     0.094339
airconditioning     0.060740
parking             0.090205
prefarea            0.052939
semi-furnished     -0.005472
unfurnished        -0.039894
bathroom_per_bed    0.143505
dtype: float64

In [1392]:
print(lr_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   cost   R-squared:                       0.652
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     72.22
Date:                Tue, 26 Dec 2023   Prob (F-statistic):           5.66e-90
Time:                        20:28:02   Log-Likelihood:                 416.94
No. Observations:                 436   AIC:                            -809.9
Df Residuals:                     424   BIC:                            -760.9
Df Model:                          11
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.0130      0.016      0.825      0.410      -0.018       0.044
area                 0.3456      0.033     10.318      0.000       0.280       0.411
stories              0.1923      0.017     11.139      0.000       0.158       0.226
guestroom            0.0282      0.013      2.135      0.033       0.002       0.054
basement             0.0562      0.011      5.180      0.000       0.035       0.078
hotwaterheating      0.0943      0.022      4.283      0.000       0.051       0.138
airconditioning      0.0607      0.011      5.633      0.000       0.040       0.082
parking              0.0902      0.017      5.262      0.000       0.057       0.124
prefarea             0.0529      0.011      4.658      0.000       0.031       0.075
semi-furnished      -0.0055      0.011     -0.480      0.632      -0.028       0.017
unfurnished         -0.0399      0.012     -3.211      0.001      -0.064      -0.015
bathroom_per_bed     0.1435      0.024      5.999      0.000       0.096       0.191
==============================================================================
Omnibus:                       63.447   Durbin-Watson:                   2.128
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              130.033
Skew:                           0.799   Prob(JB):                     5.80e-29
Kurtosis:                       5.146   Cond. No.                         10.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [1393]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif['Features'] = X_train.columns
vif['VIF'] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

            Features   VIF
0               area  3.79
10  bathroom_per_bed  3.20
1            stories  2.03
8     semi-furnished  1.99
3           basement  1.93
6            parking  1.92
5    airconditioning  1.71
9        unfurnished  1.59
7           prefarea  1.53
2          guestroom  1.48
4    hotwaterheating  1.09

In [1400]:
columns_to_drop.append('semi_furnished')
X_train = X_train.drop(columns=['semi-furnished'])

In [1401]:
import statsmodels.api as sm
X_train_lm = sm.add_constant(X_train)
# X_train_lm = X_train_lm.astype(int)

lr_3 = sm.OLS(y_train, X_train_lm).fit()

lr_3.params
print(lr_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   cost   R-squared:                       0.652
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     79.57
Date:                Tue, 26 Dec 2023   Prob (F-statistic):           6.92e-91
Time:                        20:31:24   Log-Likelihood:                 416.82
No. Observations:                 436   AIC:                            -811.6
Df Residuals:                     425   BIC:                            -766.8
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.0091      0.014      0.675      0.500      -0.017       0.036
area                 0.3462      0.033     10.348      0.000       0.280       0.412
stories              0.1922      0.017     11.144      0.000       0.158       0.226
guestroom            0.0283      0.013      2.143      0.033       0.002       0.054
basement             0.0560      0.011      5.172      0.000       0.035       0.077
hotwaterheating      0.0942      0.022      4.279      0.000       0.051       0.137
airconditioning      0.0611      0.011      5.687      0.000       0.040       0.082
parking              0.0905      0.017      5.285      0.000       0.057       0.124
prefarea             0.0533      0.011      4.707      0.000       0.031       0.076
unfurnished         -0.0364      0.010     -3.626      0.000      -0.056      -0.017
bathroom_per_bed     0.1440      0.024      6.034      0.000       0.097       0.191
==============================================================================
Omnibus:                       63.198   Durbin-Watson:                   2.124
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              129.954
Skew:                           0.795   Prob(JB):                     6.04e-29
Kurtosis:                       5.151   Cond. No.                         10.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [1402]:
columns_to_drop.append('guestroom')
X_train = X_train.drop(columns=['guestroom'])

In [1404]:
import statsmodels.api as sm
X_train_lm = sm.add_constant(X_train)
# X_train_lm = X_train_lm.astype(int)

lr_4 = sm.OLS(y_train, X_train_lm).fit()

lr_4.params

const               0.007011
area                0.355120
stories             0.194945
basement            0.064437
hotwaterheating     0.094341
airconditioning     0.062538
parking             0.089621
prefarea            0.053741
unfurnished        -0.037336
bathroom_per_bed    0.147402
dtype: float64

In [1405]:
print(lr_4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   cost   R-squared:                       0.648
Model:                            OLS   Adj. R-squared:                  0.641
Method:                 Least Squares   F-statistic:                     87.16
Date:                Tue, 26 Dec 2023   Prob (F-statistic):           6.91e-91
Time:                        20:32:56   Log-Likelihood:                 414.47
No. Observations:                 436   AIC:                            -808.9
Df Residuals:                     426   BIC:                            -768.2
Df Model:                           9
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.0070      0.014      0.519      0.604      -0.020       0.034
area                 0.3551      0.033     10.655      0.000       0.290       0.421
stories              0.1949      0.017     11.284      0.000       0.161       0.229
basement             0.0644      0.010      6.354      0.000       0.045       0.084
hotwaterheating      0.0943      0.022      4.269      0.000       0.051       0.138
airconditioning      0.0625      0.011      5.807      0.000       0.041       0.084
parking              0.0896      0.017      5.215      0.000       0.056       0.123
prefarea             0.0537      0.011      4.725      0.000       0.031       0.076
unfurnished         -0.0373      0.010     -3.708      0.000      -0.057      -0.018
bathroom_per_bed     0.1474      0.024      6.162      0.000       0.100       0.194
==============================================================================
Omnibus:                       57.308   Durbin-Watson:                   2.125
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              111.328
Skew:                           0.748   Prob(JB):                     6.69e-25
Kurtosis:                       4.973   Cond. No.                         10.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [1406]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif['Features'] = X_train.columns
vif['VIF'] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

           Features   VIF
0              area  3.57
8  bathroom_per_bed  2.96
1           stories  1.95
5           parking  1.92
4   airconditioning  1.70
2          basement  1.63
6          prefarea  1.53
7       unfurnished  1.31
3   hotwaterheating  1.08

In [1410]:
X_test = df_test
# X_test[rescale_col] = scaler.transform(X_test[rescale_col])
y_test = df_test.pop('cost')
X_test.head()

,area,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,bathroom_per_bed
62,0.315464,0.333333,1,0,0,0,1,0.333333,0,0,0,0.4
247,0.463918,1.000000,1,0,0,0,0,1.000000,0,0,1,0.1
142,0.608247,0.333333,1,0,0,0,0,0.333333,0,1,0,0.4
107,0.327835,0.666667,1,0,1,0,0,0.000000,1,0,1,0.2
483,0.341237,0.333333,1,0,0,0,0,0.000000,0,1,0,0.2

In [1411]:
X_train.shape

(436, 9)

In [1414]:
X_test = X_test.drop(columns = ['guestroom','mainroad','semi-furnished'])
X_test.shape

(109, 9)

In [1416]:
import statsmodels.api as sm
X_test_lm = sm.add_constant(X_test)
# X_train_lm = X_train_lm.astype(int)

y_pred = lr_4.predict(X_test_lm)
y_pred

62     0.335392
247    0.433726
142    0.376828
107    0.363717
483    0.222653
         ...
201    0.288123
92     0.429817
66     0.536523
284    0.245215
187    0.325818
Length: 109, dtype: float64

62     0.460606
247    0.242424
142    0.333333
107    0.378788
483    0.103030
         ...
201    0.272727
92     0.403030
66     0.448485
284    0.218182
187    0.290909
Name: cost, Length: 109, dtype: float64

In [1301]:
df_train.isnull().sum()

area                0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
semi-furnished      0
unfurnished         0
bathroom_per_bed    0
cost                0
dtype: int64

In [1418]:
X_train.head()

,area,stories,basement,hotwaterheating,airconditioning,parking,prefarea,unfurnished,bathroom_per_bed
272,0.166667,0.000000,1,0,0,0.666667,0,0,0.2
40,0.336770,0.333333,1,0,1,0.000000,1,0,0.2
326,0.168385,0.000000,1,0,0,0.000000,0,1,0.1
441,0.186942,0.333333,0,0,0,0.000000,0,1,0.2
511,0.105155,0.000000,0,0,0,0.000000,0,1,0.2

In [1419]:
X_train = np.array(X_train)
X_train.shape

(436, 9)

In [1420]:
print(len(X_train.shape))
print(len(y_train))

2
436

In [1421]:
y_train.head()

272    0.224242
40     0.530303
326    0.193939
441    0.127273
511    0.066667
Name: cost, dtype: float64

In [1422]:
# plt.figure(figsize=(20,10))
# sns.heatmap(df_train.corr(), annot = True, cmap="YlGnBu")

In [1423]:

X_train.shape

(436, 9)

In [1424]:
from sklearn.linear_model import LinearRegression

In [1425]:
lr = LinearRegression()

In [1426]:
len(X_train)

436

In [1427]:
len(y_train)

436

In [1428]:
lr.fit(X_train,y_train)

LinearRegression()

In [1430]:
# y_test = df_test.pop('cost')

In [1431]:

# X_test = X_test.drop(columns =['bedrooms','basement','semi-furnished'])

In [1432]:
print(X_test.columns)
print(X_test.shape)

Index(['area', 'stories', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'unfurnished', 'bathroom_per_bed'],
      dtype='object')
(109, 9)

In [1433]:
X_test = np.array(X_test)

In [1434]:
y_pred = lr.predict(X_test)

In [1435]:
y_pred.shape

(109,)

In [1436]:
y_test = scale_price.inverse_transform(np.array(y_test).reshape(-1,1))
y_test = pd.DataFrame(y_test,columns=['y_test'])
y_test.head()

      y_test
0  7070000.0
1  4550000.0
2  5600000.0
3  6125000.0
4  2940000.0

In [1437]:
print(y_pred.shape)
y_pred

(109,)

array([0.33539236, 0.4337262 , 0.37682764, 0.36371682, 0.22265296,
       0.11356521, 0.09731587, 0.55814924, 0.09159903, 0.24577385,
       0.18285409, 0.12566771, 0.26853764, 0.19930468, 0.2655245 ,
       0.51278831, 0.25244687, 0.17214169, 0.36994538, 0.07742477,
       0.29836814, 0.28427378, 0.23038403, 0.20325259, 0.36129893,
       0.46934588, 0.09145822, 0.4937442 , 0.49928099, 0.23227661,
       0.52163204, 0.43925389, 0.24859756, 0.26095607, 0.41546598,
       0.27890776, 0.33065032, 0.14628363, 0.31563676, 0.37232605,
       0.23250089, 0.17601094, 0.16664843, 0.22981326, 0.36140883,
       0.15897121, 0.2926649 , 0.12587191, 0.11191926, 0.1178316 ,
       0.25752336, 0.23078753, 0.07378815, 0.1021458 , 0.33503921,
       0.24791716, 0.16390262, 0.21115683, 0.14773684, 0.30555931,
       0.42176838, 0.48429767, 0.07720511, 0.22052857, 0.1873914 ,
       0.0593881 , 0.26791683, 0.08234552, 0.15870396, 0.25949834,
       0.3348371 , 0.27548336, 0.2339993 , 0.07622884, 0.23507269,
       0.19753217, 0.18576895, 0.41428246, 0.40801924, 0.16437719,
       0.23376731, 0.21185117, 0.42300689, 0.33404724, 0.39052898,
       0.35696861, 0.16152299, 0.06597795, 0.37580217, 0.15828363,
       0.11684137, 0.29186797, 0.02722286, 0.4932307 , 0.10942218,
       0.27740975, 0.53765648, 0.13226952, 0.3118461 , 0.32469716,
       0.11966692, 0.57986894, 0.2961293 , 0.15858493, 0.28812286,
       0.42981651, 0.53652299, 0.24521535, 0.3258179 ])

In [1438]:
y_pred = scale_price.inverse_transform((y_pred.reshape(-1,1)))
y_pred = pd.DataFrame(y_pred,columns=['y_pred'])
y_pred = y_pred.apply(lambda x : round(x,2))
y_pred.head()

       y_pred
0  5623781.74
1  6759537.60
2  6102359.21
3  5950929.24
4  4321641.71

In [1439]:
data = pd.concat([y_test,y_pred],axis=1)
data.head()

      y_test      y_pred
0  7070000.0  5623781.74
1  4550000.0  6759537.60
2  5600000.0  6102359.21
3  6125000.0  5950929.24
4  2940000.0  4321641.71

In [1440]:
diff = (sum((data['y_test']-data['y_pred'])**2)/len(data))**1/2
diff

860004156951.1699

In [1448]:
column_name=['area','stories','basement','hotwaterheating','airconditioning','parking','prefarea','unfurnished','bathroom_per_bed']
len(column_name)

9

In [1457]:
idd=[4000,4,0,1,0,3,1,1,0.75]
idd = np.array(idd).reshape(1,-1)

idd.shape

(1, 9)

In [1458]:
a = pd.DataFrame(idd,columns=column_name)
a

,area,stories,basement,hotwaterheating,airconditioning,parking,prefarea,unfurnished,bathroom_per_bed
0,4000.0,4.0,0.0,1.0,0.0,3.0,1.0,1.0,0.75

In [1459]:
a[rescale_col] = scaler.transform(a[rescale_col])
a

,area,stories,basement,hotwaterheating,airconditioning,parking,prefarea,unfurnished,bathroom_per_bed
0,0.161512,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.7

In [1461]:
a = np.array(a)
a.shape

(1, 9)

In [1495]:
pred = lr.predict(a)

pred = pred.reshape(-1,1)
pred = scale_price.inverse_transform(pred)

In [1496]:
pred= round(pred[0][0],2)
pred

8251025.72

In [1491]:
pred[0]

8251025.717865939

In [1497]:
import pickle
file = 'house.pkl'
data ={'Lmodel': lr, 'scale_price':scale_price, 'scale':scaler}
pickle.dump(data, open(file, 'wb'))

In [1499]:
house_pickle = pickle.load(open('house.pkl','rb'))

scale_price = house_pickle['scale_price']
scaler = house_pickle['scale']
model = house_pickle['Lmodel']

In [1500]:
idd=[4000,4,0,1,0,3,1,1,0.75]
idd = np.array(idd).reshape(1,-1)

a = pd.DataFrame(idd,columns=column_name)
a[rescale_col] = scaler.transform(a[rescale_col])
a = np.array(a)
pred = lr.predict(a)

pred = pred.reshape(-1,1)
pred = scale_price.inverse_transform(pred)
pred= round(pred[0][0],2)
pred

8251025.72